public/css/bootstrap-responsive.min.css -diff
public/css/bootstrap.min.css -diff
public/css/font-awesome.min.css -diff
public/font/FontAwesome.otf -diff
public/font/fontawesome-webfont.eot -diff
public/font/fontawesome-webfont.svg -diff
public/font/fontawesome-webfont.ttf -diff
public/font/fontawesome-webfont.woff -diff
public/img/glyphicons-halflings-white.png -diff
public/img/glyphicons-halflings.png -diff
public/js/bootstrap.min.js -diff
public/js/jquery-1.9.0.min.js -diff
public/js/rokuga.js -diff
public/js/underscore-min.js -diff
