<html>
  <head>
    <script src="/js/jquery-1.9.0.min.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/rokuga.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="/css/rokuga.css" rel="stylesheet" media="screen">
    <title>
      rokuga - Movie File to Animation GIF Converter
    </title>
  </head>
  <body>
    <div class="container">
      <h1>
        rokuga
        <small>Movie File to Animation GIF Converter</small>
      </h1>
      <div class="drop-here">
        Drop Movie File
      </div>
      <div class="sampling-preview">
      </div>
      <div class="player">
        <img/>
      </div>
      <div class="controllers">
        <button class="pause-button btn">
          <i class="icon-pause"></i>
        </button>
        <button class="save-button btn">
          <i class="icon-download-alt"></i>
        </button>

        <span class="btn-group play-type-control">
          <button class="forward-button btn btn-primary"><i class="icon-caret-right"></i></button>
          <button class="reverse-button btn"><i class=" icon-caret-left"></i></button>
          <button class="come-and-go-button btn"><i class=" icon-exchange"></i></button>
          <button class="random-button btn"><i class="icon-random"></i></button>
        </span>

        <div class="delay-controller">
          <input class="delay" type="range" min="1" max="100" value="10" step="1" />
        </div>
      </div>
      <div class="frames">
      </div>
      <div class="gallery">
      </div>
      <span class="indicator">
        <i class="icon-spinner icon-spin icon-2x"></i>
      </span>

      <a href="https://github.com/hitode909/rokuga"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    </div>
  </body>
</html>
