h1 {
    margin-bottom: 40px;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

.indicator {
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
}

.drop-here {
    border: 1px solid #999;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    padding: 40px;

    &.active {
        background: #ccc;
    }
}

.player {
    display: none;
}

.sampling-preview,
.player {
    margin: 20px;
    text-align: center;
}

.frames {

    label {
        width: 100%;
        height: 100%;
    }

    .top-line {
        .padding {
            cursor: default;
        }
    }

    .padding {
        cursor: pointer;
    }

    .control-item {
        margin: 5px;
        display: inline-block;
        width: 102px;
        height: 20px;
        text-align: center;
    }

    .frame-item {
        margin: 5px;
        border: 1px solid #ccc;
        display: inline-block;
        width: 100px;
        height: 100px;
        position: relative;
        text-align: center;

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #333;

        &.current {
            opacity: 0.7;
        }
    }
}

.controllers {
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;

    label.speed {
        margin-left: 10px;
        marign-right: 10px;
        display: inline;
    }

    .delay {
        width: 90%;
        display: inline;
    }
}

.gallery {
    margin-top: 20px;

    img {
        cursor: pointer;
    }
}