.drop-here {
    border: 1px solid black;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.drop-here.active {
    background: #aaf;
}


.frames {

    .frame-item {
        margin: 5px;
        border: 1px solid #ccc;
        display: inline-block;
        width: 175px;
        height: 175px;
        position: relative;
        text-align: center;

        label {
            width: 100%;
            height: 100%;
        }

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: black;
    }
}

.controllers {
    display: none;
}